 {% embed '@port_theme/components/large-cta/_large-cta.html.twig' with {
    icon_url: "/themes/port_theme/templates/components/large-cta/icon.png",
    heading_line_1: "Image Callout",
    heading_line_2: "Heading",
    body_text: "<p>Write some copy here that you want to highlight. Is it your best skillset? A memory of you learning something complex? You and your colleagues discussing some intense project work? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.</p>",
    link_url: "#",
    link_text: "contact me",
    image_url: "/themes/port_theme/templates/components/large-cta/bgimage.jpeg",
    image_alt_text: "project cover image"
  } %}{% endembed %}
