<div class="copyright">
	<div class="portfolio"><img src='/modules/custom/port_core/src/Plugin/Block/portfolio.png'/></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.</p>

	<div class="year">
		<p>&copy
			{{ year }}
			Port Folio</p>
	</div>
</div>
