<p>This page's content is coming from a twig file within our custom theme. The twig file's location is
  "port_theme/templates/components/preview.html.twig".</p>

<p>This page and twig file were created so that we have a convenient way to preview Twig styling.</p>

<p>To do so, update the embed code within this file (preview.html.twig) to point to the appropriate demo.html.twig file.
  Your component will appear below this line.</p>
{# Update the component name in the "include" statement below to preview your component's styling on the /demo page #}
<h2>Project teaser featured</h2>
{% include '@port_theme/components/project_teaser_featured/demo.html.twig' ignore missing %}
<h2>Interior page title</h2>
{% include '@port_theme/components/interior_page_title/demo.html.twig' ignore missing %}
<h2>FAQ</h2>
{% include '@port_theme/components/faq/demo.html.twig' ignore missing %}
<h2>Section title</h2>
{% include '@port_theme/components/section_title/demo.html.twig' ignore missing %}
{% include '@port_theme/components/homepage_hero/demo.html.twig' ignore missing %}
{% include '@port_theme/components/large_cta/demo.html.twig' ignore missing %}
{% include '@port_theme/components/blog_teaser/demo.html.twig' ignore missing %}
<h2>Blog teaser featured</h2>
{% include '@port_theme/components/blog_teaser_featured/demo.html.twig' ignore missing %}
<h2>Logo Card</h2>
{% include '@port_theme/components/logo_card/demo.html.twig' ignore missing %}
<h2>Statistic Card</h2>
{% include '@port_theme/components/statistic_card/demo.html.twig' ignore missing %}
<h2>Text CTA</h2>
{% include '@port_theme/components/text_cta/demo.html.twig' ignore missing %}
<h2>Project teaser</h2>
{% include '@port_theme/components/project_teaser/demo.html.twig' ignore missing %}
