.statistic-card {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
  
  .logo-circle {
    background-color: #b9d1c7;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: auto;

    .stat-value {
      font-size: 27px;
      position: relative;
      top: 25px;
    }
  }

  .dream {
    text-transform: uppercase;
    font-size: 18px;

  }
}
