<div{{ attributes }}>{{ title_prefix }} {{ title_suffix }}
 {% include '@port_theme/components/blog_teaser_featured/_blog_teaser_featured.html.twig' with {
      image: content.field_image.0, 
      image_alt:'image of project',
      date: node.created.value|date('m/d/Y'),
      title: label,
      description: content.body.0,
     } 
%}
</div>
