<div class="logo-card">
    <div class="wrapper">
        <div class="logo-image"><img src="{{ logo_img_src }}" alt="{{ heading }}" /></div>
        <h3>{{ heading }}</h3>
        <p>{{ description }}</p>
    </div>
</div>
