@charset "UTF-8";
.blog-teaser-featured {
  border-style: solid;
  border-color: #946866;
  display: flex;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 1292px;
  max-width: 100%;
  margin: auto;
  background-color: rgba(148, 104, 102, 0.15);
  top: 0;
  position: relative;
  transition: top 0.4s ease-in-out;
}
.blog-teaser-featured:hover {
  top: -20px;
  background-color: #946866;
}
.blog-teaser-featured:hover h3,
.blog-teaser-featured:hover .date,
.blog-teaser-featured:hover p {
  color: white;
}
.blog-teaser-featured h3 {
  font-size: 18px;
  color: #946866;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 0px;
}
.blog-teaser-featured p {
  margin-top: 5px;
}
.blog-teaser-featured .background-image {
  width: 60%;
}
.blog-teaser-featured .blog-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 35%;
  padding-left: 50px;
}
.blog-teaser-featured .date {
  font-weight: bold;
  font-size: 14px;
  color: #596661;
}

.section-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.section-list h2 {
  color: #596661;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
}
.section-list h2 .secondary-highlight {
  color: #757575;
}
.section-list a.sl {
  color: #946866;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #946866;
  text-decoration: none;
  padding: 10px;
  font-family: "Dela Gothic One";
  text-transform: uppercase;
  font-weight: bold;
}
.section-list a.sl:hover {
  color: #596661;
  border-color: transparent transparent #596661;
}

.large-cta {
  position: relative;
  min-height: 565px;
  overflow: hidden;
  text-align: center;
  border-bottom: 8px solid #c2c1a6;
  background-color: #757575;
}
.large-cta h2 {
  color: #B9D1C7;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 60px;
}
.large-cta h2 .heading-line-2 {
  color: #FFFFFF;
}
.large-cta .body-text {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}
.large-cta .background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}
.large-cta .overlay-content {
  z-index: 2;
  position: relative;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.large-cta a.button {
  font-family: "Dela Gothic One", sans-serif;
  margin-top: 24px;
  background-color: #E4E2BC;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #596661;
  padding: 12px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #e4e2bc;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.large-cta a.button:hover {
  border-color: transparent transparent #e4e2bc;
  background-color: transparent;
  color: #e4e2bc;
}

/* Base styles */
h1,
h2,
h3 {
  font-family: "Dela Gothic One", cursive;
  color: #596661;
  margin: 20px 0 10px 0;
}
h1 a,
h2 a,
h3 a {
  color: #946866;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 4px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.75px;
}

h4 {
  font-family: "Dela Gothic One", cursive;
  color: #757575;
  font-size: 30px;
  line-height: 40px;
}
h4 a {
  color: #946866;
  text-decoration: none;
}

body {
  font: 18px/25px Arial, sans-serif;
  color: #757575;
}

a {
  color: #af5f5b;
  text-decoration: underline;
}

ol,
ul {
  line-height: 36px;
  color: #757575;
  list-style: none;
}

ul li::before {
  content: "•";
  color: #596661;
  display: inline-block;
  width: 0.65em;
  margin-left: -0.5em;
}

@counter-style integer-leading-zero {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  pad: 2 "0";
}
ol {
  counter-reset: li;
}
ol li {
  counter-increment: li;
}
ol li::before {
  content: counter(li, integer-leading-zero);
  color: #596661;
  display: inline-block;
  width: 2em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  font-family: "Dela Gothic One", cursive;
}

blockquote {
  font-size: 22px;
  line-height: 32px;
  color: #596661;
  border-left: 4px solid #b9d1c7;
  border-right: 4px solid #b9d1c7;
  padding: 0 22px;
}

table {
  border: none;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed;
  margin: auto;
  font-size: 16px;
}
table th,
table td {
  border-left: 1px solid #757575;
  padding: 14px 18px;
  text-align: left;
}
table td:first-child {
  border-left: none;
}
table thead {
  color: #fff;
  background-color: #596661;
}
table tbody tr:nth-child(even) {
  background-color: #f0ece7;
}
@media all and (max-width: 768px) {
  table {
    width: 68%;
  }
  table thead {
    background-color: transparent;
    color: #596661;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }
  table th,
table td {
    display: flex;
  }
  table td:first-child {
    border-left: 1px solid #757575;
  }
}

/*# sourceMappingURL=style.css.map */
