@charset "UTF-8";
/* Base styles */
.secondary.button, .on-dark.white.button, .on-dark.dewdrop.button, .primary.button {
  padding: 12px 18px;
  margin: 24px 0 0 0;
  font-family: "Dela Gothic One", cursive;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.blog-teaser-featured {
  border-style: solid;
  border-color: #946866;
  display: flex;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 1292px;
  max-width: 100%;
  margin: auto;
  background-color: rgba(148, 104, 102, 0.15);
  top: 0;
  position: relative;
  transition: top 0.4s ease-in-out;
}
.blog-teaser-featured:hover {
  top: -20px;
  background-color: #946866;
}
.blog-teaser-featured:hover h3,
.blog-teaser-featured:hover .date,
.blog-teaser-featured:hover p {
  color: white;
}
.blog-teaser-featured h3 {
  font-size: 18px;
  color: #946866;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 0px;
}
.blog-teaser-featured p {
  margin-top: 5px;
}
.blog-teaser-featured .background-image {
  width: 60%;
}
.blog-teaser-featured .blog-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 35%;
  padding-left: 50px;
}
.blog-teaser-featured .date {
  font-weight: bold;
  font-size: 14px;
  color: #596661;
}

.section-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-list h2 {
  color: #596661;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
}
.section-list h2 .secondary-highlight {
  color: #757575;
}
.section-list a.sl {
  color: #946866;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #946866;
  text-decoration: none;
  padding: 10px;
  font-family: "Dela Gothic One";
  text-transform: uppercase;
  font-weight: bold;
}
.section-list a.sl:hover {
  color: #596661;
  border-color: transparent transparent #596661;
}

.large-cta {
  position: relative;
  min-height: 565px;
  overflow: hidden;
  text-align: center;
  border-bottom: 8px solid #c2c1a6;
  background-color: #757575;
}
.large-cta h2 {
  color: #B9D1C7;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 60px;
}
.large-cta h2 .heading-line-2 {
  color: #FFFFFF;
}
.large-cta .body-text {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}
.large-cta .background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}
.large-cta .overlay-content {
  z-index: 2;
  position: relative;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.large-cta a.button {
  font-family: "Dela Gothic One", sans-serif;
  margin-top: 24px;
  background-color: #E4E2BC;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #596661;
  padding: 12px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #e4e2bc;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.large-cta a.button:hover {
  border-color: transparent transparent #e4e2bc;
  background-color: transparent;
  color: #e4e2bc;
}

.logo-card {
  background: #f0ece7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 30px 0;
}
.logo-card .wrapper {
  text-align: center;
  max-width: 250px;
}
.logo-card .wrapper .logo-image {
  background: #946866;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.logo-card .wrapper .logo-image img {
  width: 55px;
}
.logo-card .wrapper h3 {
  color: #946866;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
.logo-card .wrapper p {
  margin-top: 0;
  font-size: 16px;
  line-height: 20px;
}

.text-call-to-action {
  width: 100%;
  padding: 36px 0;
  opacity: 1;
  min-height: 120px;
  background-color: #946866;
  z-index: -2;
  background-image: url("/themes/port_theme/templates/components/text_cta/_text_cta_image1.jpg");
  border-bottom: 8px solid #b98671;
}
.text-call-to-action .text-call-to-action-heading {
  float: left;
  width: 60%;
  color: white;
  font-size: 40px;
  font-weight: 900;
  margin-top: auto;
  margin-left: 70px;
  margin-bottom: auto;
  text-transform: uppercase;
}
.text-call-to-action .text-call-to-action-button {
  width: 130px;
  float: right;
  height: 34px;
  padding-top: 9px;
  margin-top: 40px;
  font-weight: 900;
  color: #946866;
  font-size: medium;
  text-align: center;
  margin-right: 120px;
  text-decoration: none;
  background-color: white;
  font-family: "Dela Gothic One", sans-serif;
}
.text-call-to-action .text-call-to-action-button:hover {
  color: white;
  border-bottom: 3px solid white;
  background-color: transparent;
}

.faq-component {
  margin: 0 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #946866;
}
.faq-component summary {
  font-family: "Dela Gothic One", cursive;
  font-size: 24px;
  line-height: 32px;
  color: #596661;
  padding: 10px 0 20px 0;
  margin: 20px 0 10px 0;
  letter-spacing: 0.75px;
}
.faq-component summary::before {
  content: "+ ";
}
.faq-component[open] summary::before {
  content: "- ";
}

.project-teaser {
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 30px;
}
.project-teaser h2 {
  background-image: url("/themes/port_theme/templates/components/project_teaser/project_icon.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 40px;
}
.project-teaser .project-image-teaser img {
  width: 100%;
}
.project-teaser .description {
  margin-bottom: 35px;
}
@media all and (max-width: 768px) {
  .project-teaser {
    flex-direction: column-reverse;
  }
}

.statistic-card {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f0ece7;
}
.statistic-card .logo-circle {
  background-color: #b9d1c7;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
}
.statistic-card .logo-circle .stat-value {
  font-size: 27px;
  position: relative;
  top: 25px;
}
.statistic-card .dream {
  text-transform: uppercase;
  font-size: 18px;
}

.blog-card {
  width: 80%;
  padding: 24px;
  border-style: solid;
  border-width: 4px;
  border-color: #946766;
  background-color: rgba(148, 104, 102, 0.15);
  margin: 20px;
  transition: 400ms ease-in-out;
}
.blog-card:hover {
  background-color: #946866;
  transform: translate(0px, -20px);
  color: white;
}
.blog-card:hover h3,
.blog-card:hover p {
  color: white;
}
.blog-card .back-img {
  width: 100%;
}
.blog-card .blog-title {
  text-transform: uppercase;
  color: #946866;
  font-size: 18px;
  line-height: 24px;
}
.blog-card .Text-date {
  font-size: 21px;
  line-height: 25px;
  color: #616161;
}
.blog-card .blog-description {
  font-size: 21px;
  line-height: 25px;
  color: #616161;
}

.project-teaser-featured {
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
  opacity: 0.8;
  height: auto;
  padding: 20px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 200px;
  background-color: #596661;
  background-size: auto, cover;
  background-position: 0px 0px, 50% 50%;
  background-image: linear-gradient(180deg, rgba(89, 102, 97, 0.84), rgba(89, 102, 97, 0.84));
}
.project-teaser-featured .background-image {
  left: 0;
  top: 0px;
  width: 100%;
  z-index: -2;
  height: 560px;
  object-fit: cover;
  position: absolute;
  background-size: cover;
  filter: brightness(50%);
  border-bottom: 8px solid #c2c1a6;
}
.project-teaser-featured .project-teaser-featured-wrapper {
  z-index: 2;
  text-align: center;
}
.project-teaser-featured .project-teaser-featured-wrapper .image_style {
  height: 40px;
  width: 100px;
  margin-top: 80px;
}
.project-teaser-featured .project-teaser-featured-wrapper .heading1 {
  color: #B9D1C7;
  text-transform: uppercase;
}
.project-teaser-featured .project-teaser-featured-wrapper .heading2 {
  display: block;
  color: white;
  text-transform: uppercase;
}
.project-teaser-featured .project-teaser-featured-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-teaser-featured .project-teaser-featured-wrapper .project-teaser-featured-description {
  width: 60%;
  color: white;
  font-weight: 500;
  font-size: large;
}
.project-teaser-featured .project-teaser-featured-wrapper .project-teaser-featured-link {
  text-align: center;
}
.project-teaser-featured .project-teaser-featured-wrapper .project-teaser-featured-link a {
  width: 130px;
  height: 20px;
  padding: 15px;
  font-weight: 900;
  font-size: large;
  color: #596661;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #E4E2bc;
}
.project-teaser-featured .project-teaser-featured-wrapper .project-teaser-featured-link a:hover {
  color: #E4E2bc;
  background-color: transparent;
  border-bottom: 3px solid #E4E2bc;
}

h1,
h2,
h3 {
  font-family: "Dela Gothic One", cursive;
  color: #596661;
  margin: 20px 0 10px 0;
}
h1 a,
h2 a,
h3 a {
  color: #946866;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 4px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.75px;
}

h4 {
  font-family: "Dela Gothic One", cursive;
  color: #757575;
  font-size: 30px;
  line-height: 40px;
}
h4 a {
  color: #946866;
  text-decoration: none;
}

body {
  font: 18px/25px Arial, sans-serif;
  color: #757575;
}

main article a {
  color: #af5f5b;
  text-decoration: underline;
}
main article ol,
main article ul {
  line-height: 36px;
  color: #757575;
  list-style: none;
}
main article ul li::before {
  content: "•";
  color: #596661;
  display: inline-block;
  width: 0.65em;
  margin-left: -0.5em;
}
@counter-style integer-leading-zero {
  main article {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    pad: 2 "0";
  }
}
main article ol {
  counter-reset: li;
}
main article ol li {
  counter-increment: li;
}
main article ol li::before {
  content: counter(li, integer-leading-zero);
  color: #596661;
  display: inline-block;
  width: 2em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  font-family: "Dela Gothic One", cursive;
}
main article blockquote {
  font-size: 22px;
  line-height: 32px;
  color: #596661;
  border-left: 4px solid #b9d1c7;
  border-right: 4px solid #b9d1c7;
  padding: 0 22px;
}
main article table {
  border: none;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed;
  margin: auto;
  font-size: 16px;
}
main article table th,
main article table td {
  border-left: 1px solid #757575;
  padding: 14px 18px;
  text-align: left;
}
main article table td:first-child {
  border-left: none;
}
main article table thead {
  color: #fff;
  background-color: #596661;
}
main article table tbody tr:nth-child(even) {
  background-color: #f0ece7;
}
@media all and (max-width: 768px) {
  main article table {
    width: 68%;
  }
  main article table thead {
    background-color: transparent;
    color: #596661;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }
  main article table th,
main article table td {
    display: flex;
  }
  main article table td:first-child {
    border-left: 1px solid #757575;
  }
}

.primary.button {
  color: #fff;
  background-color: #946866;
  border: 2px solid #946866;
}
.primary.button:hover {
  background-color: transparent;
  color: #946866;
  border-top: none;
  border-left: none;
  border-right: none;
}

.on-dark.dewdrop.button {
  color: #596661;
  background-color: #e4e2bc;
  border: 2px solid #e4e2bc;
}
.on-dark.dewdrop.button:hover {
  background-color: transparent;
  color: #e4e2bc;
  border-top: none;
  border-left: none;
  border-right: none;
}

.on-dark.white.button {
  color: #596661;
  background-color: #946866;
  border: 2px solid #fff;
}
.on-dark.white.button:hover {
  background-color: transparent;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.secondary.button {
  padding-right: 0;
  padding-left: 0;
  color: #946866;
  background-color: transparent;
  border-bottom: 2px solid #946866;
}
.secondary.button:hover {
  color: #596661;
  border-bottom: 2px solid #596661;
}

header {
  background-color: #f0ece7;
  padding: 24px 0 4px 0;
}
header .wrapper {
  width: 85%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
header .site-logo img {
  width: 240px;
}
header .region-primary-menu {
  flex: 0 1 33%;
}
header .region-primary-menu ul.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  font-size: 14px;
}
header .region-primary-menu ul.menu li {
  list-style: none;
}
header .region-primary-menu ul.menu li a {
  font-family: "Dela Gothic One", cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: #596661;
}
header .region-primary-menu ul.menu li a:hover {
  opacity: 0.76;
}

h1.page-title {
  color: #fff;
  background: linear-gradient(180deg, rgba(148, 104, 102, 0.79), rgba(148, 104, 102, 0.79)), url("/themes/port_theme/title_bkgrd.png");
  background-color: #946866;
  padding: 39px 0;
  margin: 0;
  text-align: center;
  border-bottom: 8px solid #b98671;
  background-attachment: scroll, fixed;
}

#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f0ece7;
  display: flex;
  line-height: 20px;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  min-width: 85%;
  margin: auto;
}
@media (max-width: 950px) {
  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#footer .menu {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1250px) {
  #footer .menu {
    width: 80%;
  }
}
#footer ul.menu {
  margin-left: 0;
}
#footer .menu > li {
  line-height: 40px;
  width: 48%;
  font-size: 18px;
  display: block;
}
#footer .menu > li a {
  color: #946866;
}
#footer .menu > li a:hover {
  color: #757575;
}
@media (max-width: 1000px) {
  #footer .menu > li {
    width: 65%;
  }
}
#footer .copyright {
  width: auto;
  max-width: 700px;
  margin-left: 20%;
  margin-top: 28px;
  font-size: 18px;
  display: inline-block;
}
#footer .copyright img {
  height: 20px;
}
@media (max-width: 1200px) {
  #footer .copyright {
    width: 60%;
  }
}
#footer h2 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
#footer ul {
  list-style: none;
}
#footer .region-footer-third {
  width: 15%;
  margin-right: 15%;
  line-height: 20px;
  font-size: 16px;
}
#footer .region-footer-third a {
  margin-right: 8px;
  background: none;
}
#footer .region-footer-third a:hover {
  background: #757575;
}

/*# sourceMappingURL=style.css.map */
