@charset "UTF-8";
/* Base styles */
.secondary.button, .on-dark.white.button, .on-dark.dewdrop.button, .primary.button {
  padding: 12px 18px;
  margin: 24px 0 0 0;
  font-family: "Dela Gothic One", cursive;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.blog-teaser-featured {
  border-style: solid;
  border-color: #946866;
  display: flex;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 1292px;
  max-width: 100%;
  margin: auto;
  background-color: rgba(148, 104, 102, 0.15);
  top: 0;
  position: relative;
  transition: top 0.4s ease-in-out;
}
.blog-teaser-featured:hover {
  top: -20px;
  background-color: #946866;
}
.blog-teaser-featured:hover h3,
.blog-teaser-featured:hover .date,
.blog-teaser-featured:hover p {
  color: white;
}
.blog-teaser-featured h3 {
  font-size: 18px;
  color: #946866;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 0px;
}
.blog-teaser-featured p {
  margin-top: 5px;
}
.blog-teaser-featured .background-image {
  width: 60%;
}
.blog-teaser-featured .blog-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 35%;
  padding-left: 50px;
}
.blog-teaser-featured .date {
  font-weight: bold;
  font-size: 14px;
  color: #596661;
}

.section-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.section-list h2 {
  color: #596661;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
}
.section-list h2 .secondary-highlight {
  color: #757575;
}
.section-list a.sl {
  color: #946866;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #946866;
  text-decoration: none;
  padding: 10px;
  font-family: "Dela Gothic One";
  text-transform: uppercase;
  font-weight: bold;
}
.section-list a.sl:hover {
  color: #596661;
  border-color: transparent transparent #596661;
}

.large-cta {
  position: relative;
  min-height: 565px;
  overflow: hidden;
  text-align: center;
  border-bottom: 8px solid #c2c1a6;
  background-color: #757575;
}
.large-cta h2 {
  color: #B9D1C7;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 60px;
}
.large-cta h2 .heading-line-2 {
  color: #FFFFFF;
}
.large-cta .body-text {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}
.large-cta .background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}
.large-cta .overlay-content {
  z-index: 2;
  position: relative;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.large-cta a.button {
  font-family: "Dela Gothic One", sans-serif;
  margin-top: 24px;
  background-color: #E4E2BC;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #596661;
  padding: 12px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #e4e2bc;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.large-cta a.button:hover {
  border-color: transparent transparent #e4e2bc;
  background-color: transparent;
  color: #e4e2bc;
}

.logo-card {
  background: #f0ece7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 30px 0;
}
.logo-card .wrapper {
  text-align: center;
  max-width: 250px;
}
.logo-card .wrapper .logo-image {
  background: #946866;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.logo-card .wrapper .logo-image img {
  width: 55px;
}
.logo-card .wrapper h3 {
  color: #946866;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
.logo-card .wrapper p {
  margin-top: 0;
  font-size: 16px;
  line-height: 20px;
}

.text-call-to-action {
  width: 100%;
  padding: 36px 0;
  opacity: 1;
  min-height: 120px;
  background-color: #946866;
  z-index: -2;
  background-image: url("/themes/port_theme/templates/components/text_cta/_text_cta_image1.jpg");
  border-bottom: 8px solid #b98671;
}
.text-call-to-action .text-call-to-action-heading {
  float: left;
  width: 60%;
  color: white;
  font-size: 40px;
  font-weight: 900;
  margin-top: auto;
  margin-left: 70px;
  margin-bottom: auto;
  text-transform: uppercase;
}
.text-call-to-action .text-call-to-action-button {
  width: 130px;
  float: right;
  height: 34px;
  padding-top: 9px;
  margin-top: 40px;
  font-weight: 900;
  color: #946866;
  font-size: medium;
  text-align: center;
  margin-right: 120px;
  text-decoration: none;
  background-color: white;
  font-family: "Dela Gothic One", sans-serif;
}
.text-call-to-action .text-call-to-action-button:hover {
  color: white;
  border-bottom: 3px solid white;
  background-color: transparent;
}

.faq-component {
  margin: 0 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #946866;
}
.faq-component summary {
  font-family: "Dela Gothic One", cursive;
  font-size: 24px;
  line-height: 32px;
  color: #596661;
  padding: 10px 0 20px 0;
  margin: 20px 0 10px 0;
  letter-spacing: 0.75px;
}
.faq-component summary::before {
  content: "+ ";
}
.faq-component[open] summary::before {
  content: "- ";
}

.project-teaser {
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 30px;
}
.project-teaser h2 {
  background-image: url("/themes/port_theme/templates/components/project_teaser/project_icon.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 40px;
}
.project-teaser .project-image-teaser img {
  width: 100%;
}
.project-teaser .description {
  margin-bottom: 35px;
}
@media all and (max-width: 768px) {
  .project-teaser {
    flex-direction: column-reverse;
  }
}

.blog-wrap {
  display: flex;
  width: 85%;
  flex-wrap: nowrap;
  margin: auto;
}
.blog-wrap .blog-card {
  width: 31%;
  padding: 24px;
  border-style: solid;
  border-width: 4px;
  border-color: #946766;
  background-color: rgba(148, 104, 102, 0.15);
  margin: 20px;
  transition: 400ms ease-in-out;
}
.blog-wrap .blog-card:hover {
  background-color: #946866;
  transform: translate(0px, -20px);
  color: white;
}
.blog-wrap .blog-card:hover h3,
.blog-wrap .blog-card:hover p {
  color: white;
}
.blog-wrap .blog-card .back-img {
  max-width: 100%;
}
.blog-wrap .blog-card .blog-title {
  text-transform: uppercase;
  color: #946866;
  font-size: 18px;
  line-height: 24px;
}
.blog-wrap .blog-card .Text-date {
  font-size: 21px;
  line-height: 25px;
  color: #616161;
}
.blog-wrap .blog-card .blog-description {
  font-size: 21px;
  line-height: 25px;
  color: #616161;
}

h1,
h2,
h3 {
  font-family: "Dela Gothic One", cursive;
  color: #596661;
  margin: 20px 0 10px 0;
}
h1 a,
h2 a,
h3 a {
  color: #946866;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 4px;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}

h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.75px;
}

h4 {
  font-family: "Dela Gothic One", cursive;
  color: #757575;
  font-size: 30px;
  line-height: 40px;
}
h4 a {
  color: #946866;
  text-decoration: none;
}

body {
  font: 18px/25px Arial, sans-serif;
  color: #757575;
}

a {
  color: #af5f5b;
  text-decoration: underline;
}

ol,
ul {
  line-height: 36px;
  color: #757575;
  list-style: none;
}

ul li::before {
  content: "•";
  color: #596661;
  display: inline-block;
  width: 0.65em;
  margin-left: -0.5em;
}

@counter-style integer-leading-zero {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  pad: 2 "0";
}
ol {
  counter-reset: li;
}
ol li {
  counter-increment: li;
}
ol li::before {
  content: counter(li, integer-leading-zero);
  color: #596661;
  display: inline-block;
  width: 2em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  font-family: "Dela Gothic One", cursive;
}

blockquote {
  font-size: 22px;
  line-height: 32px;
  color: #596661;
  border-left: 4px solid #b9d1c7;
  border-right: 4px solid #b9d1c7;
  padding: 0 22px;
}

table {
  border: none;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed;
  margin: auto;
  font-size: 16px;
}
table th,
table td {
  border-left: 1px solid #757575;
  padding: 14px 18px;
  text-align: left;
}
table td:first-child {
  border-left: none;
}
table thead {
  color: #fff;
  background-color: #596661;
}
table tbody tr:nth-child(even) {
  background-color: #f0ece7;
}
@media all and (max-width: 768px) {
  table {
    width: 68%;
  }
  table thead {
    background-color: transparent;
    color: #596661;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }
  table th,
table td {
    display: flex;
  }
  table td:first-child {
    border-left: 1px solid #757575;
  }
}

.primary.button {
  color: #fff;
  background-color: #946866;
  border: 2px solid #946866;
}
.primary.button:hover {
  background-color: transparent;
  color: #946866;
  border-top: none;
  border-left: none;
  border-right: none;
}

.on-dark.dewdrop.button {
  color: #596661;
  background-color: #e4e2bc;
  border: 2px solid #e4e2bc;
}
.on-dark.dewdrop.button:hover {
  background-color: transparent;
  color: #e4e2bc;
  border-top: none;
  border-left: none;
  border-right: none;
}

.on-dark.white.button {
  color: #596661;
  background-color: #946866;
  border: 2px solid #fff;
}
.on-dark.white.button:hover {
  background-color: transparent;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

.secondary.button {
  padding-right: 0;
  padding-left: 0;
  color: #946866;
  background-color: transparent;
  border-bottom: 2px solid #946866;
}
.secondary.button:hover {
  color: #596661;
  border-bottom: 2px solid #596661;
}

/*# sourceMappingURL=style.css.map */
