#block-contact-form{
  background-color: #F0ECE7;
  padding-top: 75px;
  margin-top: 270px;
  .contact-message-form {
    padding: 50px;
    background-color: white;
    width: 1200px;
    margin: auto;
    margin-top: -290px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .form-item {
      input {
        height: 50px;
      }
        .form-required {
            display: block;
            font-size: 20px;
         }
      }
    .field--name-message {
        .form-required {
            font-size: 20px;
         }
      }
    .button--primary {
        background-color: #946866;
        padding: 12px 18px;
        margin-top: 8px;
        text-transform: uppercase;
        color: #FFF;
        font-weight: 900;
        border-top: 2px transparent;
        border-bottom: 2px transparent;
        border-left: 2px transparent;
        border-right: 2px transparent;
        transition: all .3s linear;

        &:hover {
            background-color: transparent;
            color: #946866;
            border-bottom: 2px solid #946866;
        }

    }

}
}
