/* Base styles */
// Media Queries
$breakpoint-medium: 768px;

// Fonts
$dela-gothic: 'Dela Gothic One',
cursive;
$arial: Arial,
sans-serif;

// Colors
$mud: #946866;
$pebble: #757575;
$ferns: #596661;
$sea-glass: #b9d1c7;
$dewdrop: #e4e2bc;
$pearl: #f0ece7;
$apple: #af5f5b;
$white: #fff;
