.view-blog-posts {
  margin-bottom: 80px;
  .view-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

//Padding to faq view
  .view-test-faq-view {
    padding: 100px;
  }